@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #030a16;
    --secondary: #323946;
    --disabled: #fff3ff;
    --green: #7cf03d;
    --white: #fff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

body, html {
    background: var(--primary);
    color: var(--white);
    min-height: 100dvh;
    overflow-x: hidden;
}

.main-container {
    max-width: 700px;
    padding:  1rem;
    margin: 0 auto;

}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}
.brand-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand-info img{
    height: 60px;
    width: 60px;
    border-radius: 50%;

}
.brand-info h2{
    font-size: 1.7rem;
    font-weight: 800;
}

#menu-toggle{
    display: none;
}